/* =================================
                Menu
==================================== */
.sideMenu {
	padding: 0;
    margin: 0;
    width:175px;
    list-style: none;
    font-size: 13px;
}

.sideMenu a {
    color: #000000;
}

.sideMenu a:hover, .sideMenu a:focus {
    text-decoration: none;
}

.sideMenu ul a:hover {
    color: #000000;
}

/* First level */
.sideMenu > li {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-indent: 25px;
    /*position: relative;*/
    z-index: 2;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    -webkit-backface-visibility: hidden; /* Chrome transition flicker & double border fix */
    -webkit-transition: height .2s ease;
        -moz-transition: height .2s ease;
            transition: height .2s ease;
}

.sideMenu > li:first-child,
.sideMenu > li.first {
    border-top: none;
}

.sideMenu > li:last-child {
    border-bottom: none;
}

.sideMenu > li.last {
    border-bottom: none;
}

.sideMenu > li:hover {
    background-color: #f9f9f9;
}

.sideMenu > li.open {
    background-color: #f9f9f9;
    position: relative;
    -webkit-backface-visibility: hidden; /* Chrome transition flicker & double border fix */
    -webkit-transition: height .4s ease;
        -moz-transition: height .4s ease;
            transition: height .4s ease;
}

.sideMenu > li.active {
    background-color: #f0f0f0;
    border-top: 1px solid #dddddd;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
}

.sideMenu > li.active::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #dddddd;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 18px;
    right: 0;
}

.sideMenu > li.active::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #ffffff;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 17px;
    right: 0;
}

.sideMenu > li.active:first-child {
    border-top: none;
}

.sideMenu > li.parent {
    height: 100%;
    background-color: #f9f9f9;
}

.sideMenu > li > a {
    display: block;
    height: 50px;
}

/* Second level */
.sideMenu > li > ul {
    margin: 0;
    padding-bottom: 10px;
    z-index: 1;
    list-style: none;
    background-color: #eeeeee;
    border-top: 1px solid #ffffff;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
            box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, .1);
}

.sideMenu > li.active > ul {
    font-weight: normal;
}

.sideMenu > li > ul > li:first-child {
    padding-top: 5px;
    border-top: 1px solid #dddddd;
}

.sideMenu > li > ul > li > a {
    display: block;
    padding: 5px 0;
    font-size: 12px;
}

.sideMenu > li > ul > li > a:hover {
    color: #555555;
}

.sideMenu > li > ul > li.active > a {
    font-weight: bold;
    color: #444444;
}

.sideMenu > li > ul > li.active::before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #dddddd;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 18px;
    right: 0;
}

.sideMenu > li > ul > li.active::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(255,255,255,0);
    border-right: 10px solid #ffffff;
    border-bottom: 9px solid rgba(255,255,255,0);
    top: 17px;
    right: 0;
}

.sideMenu > li.active:first-child {
    border-top: none;
}

/* Count */
.sideMenu > li > span {
    display: block;
    width: 18px;
    height: 18px;
    text-indent: 0;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    position: absolute;
    z-index: -1;
    top: 17px;
    right: 20px;
    color: #ffffff;
    background-color: #bbbbbb;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
    -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
            border-radius: 2px;
}

/* top menu */
.topMenu {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    position: relative;
    z-index: 999;
    background-color: #333333;
}

.topMenu ul {
    list-style: none;
    padding-top: 0;
}

.topMenu a {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #cccccc;
}

.topMenu a:hover {
    text-decoration: none;
    color: #ffffff;
}

.topMenu li.active {
    background-color: #000000;
}

.topMenu li.active a {
    color: #ffffff;
}