


<script type="text/javascript" src="account.js"></script>
	

<div class="text-color-3 color-1 round-3 shadow-3" style="padding:1em; width: 65%; margin-left: auto;margin-right: auto" >
	
	<legend>Accounts</legend>
	
	<table id="accounts"></table>

</div>