
#if ($request.getParameter("form-account"))

	#set($puser= $request.getParameter("param-username") )
	#set($ppassword= $request.getParameter("param-password") )

	#if($configuration.checkNodeAccount($puser,$ppassword))

		#set($message = " Bee.sense account has been modified ")
		$configuration.getServerNodeConfiguration().username($puser)
		$configuration.getServerNodeConfiguration().password($ppassword)

	#else
		#set($message = " Username and password are not correct	 ")
	#end

#end

#if ($request.getParameter("form-honeyurl"))

	#set( $newurl = $request.getParameter("honey_url"))

	$configuration.getServerNodeConfiguration().honeyBaseUrl($newurl)

	#set($message = "HoneyComb URL has been modified ")

#end




#if ($request.getParameter("form-url"))



	#set( $success = $configuration.pingBSenseServer($request.getParameter("server_url")))
	#if($success)

		#set($message = "Bee.sense URL has been modified")
		$configuration.getServerNodeConfiguration().setUrl($request.getParameter("server_url"))

	#else
		#set($message = "Cannot find Bee.sense central server at the address "+$request.getParameter("server_url"))
	#end
#end





 <div class="text-color-3 round-3 shadow-3 color-2"
 	  style="width: 400px;margin-left: auto;margin-right: auto;padding: 2em">

 <div class="alert alert-info", style="background:white">
 	#if($message) $message #end
 </div>

  <form class="form-signin"  method="post" action="">
	<fieldset>
   		<legend>Hive Configuration</legend>
   		<div class="row">
           	<div class="span1"><label>URL</label></div>
          	<div class="span1">
          	  <input style="width: 250px;" id="pb_version" name="server_url" class="round-3" type="text" value="$configuration.getServerNodeConfiguration().getUrl()"></input>
   			</div>
        </div>
   		<input id="bt-save" name="form-url" class=" btn btn-primary " type="submit" id="submit" value="Save">
    </fieldset>
 </form>

 <form class="form-signin" method="post" action="">
	<fieldset>
   		<legend>Organization Account</legend>
   		  <div class="row">
   		  <div class="span1"><label>Login</label></div>
          <div class="span1">
          	<input style="width: 250px;"  name="param-username" class="round-3" type="text" value="$configuration.getServerNodeConfiguration().username()"></input>
   		  </div>
   		  </div>

   		  <div class="row">
   		    <div class="span1"><label>Password</label></div>
            <div class="span1">
          	<input style="width: 250px;"  name="param-password" class="round-3" type="text" value="$configuration.getServerNodeConfiguration().password()"></input>
   		  </div>
   		  </div>

   		  <input id="bt-save" name="form-account" class="btn btn-primary " type="submit" id="submit" value="Save">

    </fieldset>

 </form>

  <form class="form-signin"  method="post" action="">
	<fieldset>
   		<legend>HoneyComb URL</legend>
   		<div class="row">
           	<div class="span1"><label>URL</label></div>
          	<div class="span1">
          	  <input style="width: 250px;" id="pb_honey" name="honey_url" class="round-3" type="text" value="$configuration.getServerNodeConfiguration().getHoneyBaseUrl()"></input>
   			</div>
        </div>
   		<input id="bt-save" name="form-honeyurl" class=" btn btn-primary " type="submit" id="submit" value="Save">
    </fieldset>
 </form>

</div>

