


<link   href="$ctx.resource/css/form.css" rel="stylesheet" type="text/css"></link>
<script src="create.js"type="text/javascript"></script>

  
 <div class="text-color-3 round-3 shadow-3 color-2"
 	  style="width: 400px;margin-left: auto;margin-right: auto;padding: 2em">		
	
		<div class="form-signin " style="width: 500px;">
			<legend>New Account</legend>
			<div id="message"></div>
			
			<div class="row">
           		<div class="span2"><label>Full Name </label></div>
          		<div class="span1"><input id="fullname" type="text" placeholder="FullName" autofocus /></div>
        	</div>
        	
        	<div class="row">
           		<div class="span2"><label>Login</label></div>
          		<div class="span1"><input id="username" type="text"placeholder="Username" /></div>
        	</div>
        	
        	<div class="row">
           		<div class="span2"><label>Password</label></div>
          		<div class="span1"><input id="password" type="password" placeholder="Password" /></div>
        	</div>
        	
        	<div class="row">
           		<div class="span2"><label>Password</label></div>
          		<div class="span1"><input id="rePassword" type="password" placeholder="Password" /></div>
        	</div>
        	
        	<div class="row">
           		<div class="span2"><label>Email</label></div>
          		<div class="span1"><input id="email" type="text" placeholder="email" /></div>
        	</div>
			<button class="btn btn-primary" id="submit">Create account</button>
		</div>
	

</div>