<link rel="stylesheet" type="text/css" href="$ctx.resource/jslibs/codemirror-3.12/lib/codemirror.css"  />
<link rel="stylesheet" type="text/css" href="$ctx.resource/jslibs/codemirror-3.12/lib/util/simple-hint.css"  />
<link rel="stylesheet" type="text/css" href="$ctx.resource/jslibs/codemirror-3.12/theme/eclipse.css"  />
<link rel="stylesheet" type="text/css" href="$ctx.resource/jslibs/codemirror-3.12/theme/lesser-dark.css"  />


<script type="text/javascript" src="$ctx.resource/jslibs/codeEditor.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/codemirror-3.12/lib/codemirror.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/codemirror-3.12/lib/util/javascript-hint.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/codemirror-3.12/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/codemirror-3.12/mode/xml/xml.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/codemirror-3.12/mode/xquery/xquery.js"></script>


<style type="text/css">
	.CodeMirror { border: 0px solid #000;}
	.CodeMirror-scroll {height: 100%;width: 100%;}
</style>

<div style="width:100%;height: 1000px;">
  <div id="editor"></div>
</div>	

<script>

	$(function(){
	    
		var update = function(){
			post("../../webmanager/get/files",{repository:"request"},
					 function(s){editor.updateTreeModel(s)},
					 function(e){alert("error "+e)});
		}
		
		var onItem = function(item){
			
			post("../../webmanager/get/file",{repository:"request",filename: item.label.toString() },
					 function(s){editor.addTab(item.label,{content:decode(s)}) },
					 function(e){alert(e)});
			
		}
	
		var editor = new CodeEditor("editor",{}, onItem )
		
		editor.ready(function(){
			
		   
			editor.addMenuIcon("../public/images/ic-basex.png");
			
			editor.addMenuNewFile(function(file){
				post("../../webmanager/update/file",{repository:"request",filename:file,content:encode("")},
					 function(s){update()},
					 function(e){}
				);
			},[".xq"]);
			
			editor.addMenuDeleteFile(function(file){
				post("../../webmanager/delete/file",{repository:"request",filename:file.toString()},
					 function(s){update()},
					 function(e){}
				);
			})
			
			editor.addMenuSaveFile(function(file,content){
				post("../../webmanager/update/file",{repository:"request",filename:file.toString(),content:encode(content.toString())},
					 function(s){},
					 function(e){}
				);
			});
			editor.addSeparator();
			editor.addMenu("play", function(){
				
				var queryName = editor.getCurrentFilename().toString()
				queryName = queryName.substring(0,queryName.lastIndexOf('-'))
				
				post(
					"../../database-proxy/get/query",
					{repository : "request", filename : queryName},
					function(mess){
						editor.setConsoleValue(mess)
					},
					function(err){
						editor.setConsoleValue(mess)
					},
					{parse : false});
			},"icon-play");
			
			update();
		})
		
           	
	})
</script>
