#parse("header.html")

#set( $request_url = $request.getParameter("url"))
#set( $request_name = $request.getParameter("name"))

 <link   href="http://static.apisense.fr/g/js/dojo/dijit/themes/nihilo/nihilo.css"  rel="stylesheet" media="screen">
 <link   href="http://static.apisense.fr/g/js/dojo/dojox/grid/resources/nihiloGrid.css"  rel="stylesheet" media="screen">

 <script src="http://static.apisense.fr/g/js/dojo/dojo/dojo.js" data-dojo-config="async:true, parseOnLoad:true"> </script>
 <script>$("body").addClass("nihilo")</script>



<aside class="visible-desktop">

     <ul class="sideMenu">


    #foreach ( $menu in $menus.split(";"))
		#set($name = $menu.split(":")[0])
		#set($url = $menu.split(":")[1])
   	#if($request_name.equals($name))
    		<li class="active">
    	#else
    		<li>
    	#end
    	    	<a href="./?name=$name&url=$url">$name</a>
    	    </li>
    #end
 </ul>
 </aside>


<div id="content">
 #if ($request_url)
	#set( $page = $request_url )
	#parse($page)
#end
</div>

#parse("footer.html")
