

<script type="text/javascript" src="create.js"></script>

<script type="text/javascript" src="$ctx.resource/jslibs/infovis/Jit/jit.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/infovis/Jit/jit-yc.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/fd.js"></script>

<div style="margin-left: auto;margin-right: auto;padding: 2em">


	<div id="slider" class="carousel slide" >
		<div class="carousel-inner">

			<!-- ************************************************ -->
			<!-- Software product line view -->
			<!-- ************************************************ -->
			<div class=" item" style="height:650px;margin: 0 5% 0 5%">
				<legend>Experiment Configuration</legend>
				<div style="display: none;" class="alert alert-error"></div>
         		<div style="width: 100%; height: 80%;" id="infovis"></div>
				<a style="float:left" id="bt-prev-fd" class="btn btn-primary">Previous</a>
				<a style="float:right" id="bt-next-fd" class="btn btn-primary">Next</a>
			</div>

			<!-- ************************************************ -->
			<!-- Legal notice -->
			<!-- ************************************************ -->
			<div class=" item container">
				<legend>Validation</legend>
				<div id="error-lic" style="display : none" class="alert alert-error"></div>

    <div class="hero-unit" style="width: 80%">
      <div>
     	<h3>&#192; propos de la CNIL</h3>
     	<p>
  		Conform&#233;ment aux articles 39 et 40 de la loi
		Informatique et Libert&#233;s, vous disposez d&#145;un droit d&#145;acc&#232;s et de rectification des donn&#233;es vous concernant.
		En pratique, en justifiant de votre identit&#233;, vous pouvez nous demander si nous traitons ou non vos donn&#233;es,
		et si oui, quels types de donn&#233;es, dans quel but et de quelle mani&#232;re. En outre, la loi vous reconnait un droit
		de rectification, de mise &#225; jour et de suppression de ces donn&#233;es.
		</p>
		<p>
		L&#145;INRIA a d&#233;sign&#233; un Correspondant Informatique et Libert&#233;s (CIL) aupr&#232;s de la CNIL, conform&#233;ment &#225;
		l&#145;article 22 III de la loi du 6 janvier 1978. Ce CIL tient un registre des traitements effectu&#233;s en interne et
		normalement soumis &#225; d&#233;claration. Il est en outre charg&#233; d&#145;assurer le droit d&#145;acc&#232;s et de rectification.

		Pour toute demande en ce sens, veuillez vous adresser &#225; cil at inria.fr
		</p>
	</div>
	<div>
		<h3>About the CNIL (National Committee for Data Protection)</h3>
		<p>
		In accordance with French law "loi Informatique et Libert&#233;s", articles 39 and 40, you have the right to access
		and rectify data about you. In practice, proving your identity, you can ask us whether or not we process data
		about you and in case the answer is yes, which data, for which purpose and how. Besides, French law
		acknowledges your right to rectify, update and suppress these data.
		</p>
		<p>
		INRIA has a "Correspondant Informatique et Libert&#233;s" (CIL) to the "CNIL" in accordance with article 22 III of the
		French law "loi du 6 janvier 1978". The CIL maintains a registry of all data processings inside INRIA subject to
		declaration under this law. He also secures your right to access and rectify these data.

		For any such request, please contact cil at inria.fr
		</p>
	</div>
   </div>
					<div style="width: 88%">
     				<label class="checkbox container" style="margin-left: 30%">
     				   <input id="chk-lic-accept" type="checkbox" name="option1" value="accept"/>
     				   By signing up, you are agreeing to our Legal Notice
    			    </label>
    			    <a id="bt-prev-lic" class='btn btn-primary' style="">Prev</a>
    			    <button id="bt-create"   class='btn btn-warning' style="float:right">Create</button>
    			    </div>
			</div>

			<!-- ************************************************ -->
			<!-- Experiment description -->
			<!-- ************************************************ -->
			<div class="active item container">
				   <div class="form-signin " style="width: 500px; margin-left: auto;margin-right: auto">
				   		<legend>Experiment Description</legend>
         				<div style="display: none;" id="error-form" class="alert alert-error"></div>

         				<div class="row">
           					<div class="span2"><label>Name</label></div>
          					<div class="span2"><input id="name" type="text" placeholder="Experiment name" autofocus required /></div>
        				</div>

        				<div class="row">
           					<div class="span2"><label>Nice Name</label></div>
          					<div class="span2"><input id="niceName" type="text" placeholder="Nice name" autofocus required /></div>
        				</div>


         				<label>Description</label>
    	 				<textarea style="width: 400px; height:100px" id="description" placeholder="Description" required></textarea>

    	 				<label>Copyright</label>
    	 				<textarea style="width: 400px; height:100px" id="copyright" placeholder="copyright" required></textarea>
    	 				<br/>
    	 				<a style="float:right" id="bt-next-form" class="btn btn-primary">Next</a>
    	 				<br/>
				   </div>
			</div>
		</div>
	</div>

</div>
