#parse("header.html")

#set( $request_url = $request.getParameter("url"))
#set( $request_name = $request.getParameter("name"))



<aside class="visible-desktop" >
    
     <ul class="sideMenu">
      
     #foreach ( $menu in $menus.split(";")) 
		#set($name = $menu.split(":")[0])
		#set($url = $menu.split(":")[1])
    	#if($request_name.equals($name))
        	<li class="active">
    	#else
    		<li>
    	#end
    	       <a href="?name=$name&url=$url">$name</a>
    	    </li>
    #end
    
       
     </ul>

</aside>



<div id=content>	
	#if($request_url)
		 #parse($request_url)
	#else 
		 #parse("manage.html") 
	#end 
</div>

#parse("footer.html")



