

<link rel="stylesheet" href="http://static.apisense.fr/g/js/apisense.js/hc-xpmanage-1.0/build/enyo.css"></script>
<link rel="stylesheet" href="http://static.apisense.fr/g/js/apisense.js/hc-xpmanage-1.0/build/app.css"></script>
<script type="application/javascript" src="http://static.apisense.fr/g/js/apisense.js/hc-xpmanage-1.0/build/enyo.js"></script>
<script type="application/javascript" src="http://static.apisense.fr/g/js/apisense.js/hc-xpmanage-1.0/build/app.js"></script>


<div id="containerManager"></div>
<script>
  $(function(){
	var honey = new apisense.core.HoneyComb({nodeUrl : "../.."});
	honey.setToken(token());
	var manager = new A.honey.ExperimentManager( { honey : honey, into : "containerManager" } );
  })
</script>