<script  src="manage.js" type="text/javascript"></script>

<div class="container" style="margin-left: auto;margin-right: auto;padding: 2em; width: 75%;">

 
  <table id="table" class="table table-hover table-bordered">
    <thead>
    <tr>
      <th>Experiment Name</th>
      <th>Status</th>
      <th>Start/Stop</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody id="xpsBody"></tbody>
</table>
</div>
