#parse("header.html")

<link rel="stylesheet" type="text/css" href="http://static.apisense.net/g/js/jquery.gridster/jquery.gridster.min.css"  />
<link rel="stylesheet" type="text/css" href="http://static.apisense.net/g/js/datepicker/css/datepicker.css"  />

<script src="http://static.apisense.net/g/js/jquery.gridster/jquery.gridster.min.js"></script>

<script src="http://static.apisense.net/g/js/datepicker/js/bootstrap-datepicker.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript" src="jquery.watch.js"></script>
<script type="text/javascript" src="metric.js"></script>
<script type="text/javascript" src="chart.bar.allupload.js"></script>
<script type="text/javascript" src="chart.bar.userupload.js"></script>
<script type="text/javascript" src="chart.bar.versionupload.js"></script>
<script type="text/javascript" src="chart.pie.version.js"></script>
<script type="text/javascript" src="char.pie.header.js"></script>
<script type="text/javascript" src="chart.line.day.js"></script>


<script>
		var xpName = "$manager.getExperimentName()";
</script>
<style>

.gridster {
    width: 100%;
    height : 100%;
    /*margin: 0 auto;*/

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}
ul, li { list-style-type: none;}
.gridster .gs_w {
    background: #FFF;
	-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;
    cursor: pointer;
}

canvas{}

</style>


<div class="form-signin gridheader" style="width: 600px;" align="center">

  <button id="chart-add" class="btn btn-info" style="margin-top:-15px"><i class="icon-signal"></i></button>

  <input class="pickerStart" type="text" class="span2"  id="dp2" >
  <input class="pickerEnd"   type="text" class="span2"  id="dp2" >

  <button id="chart-update" class="btn btn-info" style="margin-top:-15px"><i class="icon-refresh"></i></button>

</div>


<div class="gridster round3" style="width:100%; height: 100%"><ul></ul></div>










#parse("footer.html")