#parse("header.html")


<div id="container" style="margin-top:10%">

  <div class="form-signin" style="width: 375px;">
   
   		<legend>Change Password</legend>
   		<div class="row">
           <div class="span2"><label>Password*</label></div>
           <div class="span1"><input id="text-password" class="round-3" type="password"></div>
        </div>
        <div class="row">
           <div class="span2"><label>New password*</label></div>
           <div class="span1"><input id="text-newpassword" class="round-3" type="password"></input></div>
        </div> 
        <div class="row">
           <div class="span2"><label>New password*</label></div>
           <div class="span1"><input id="text-newpassword2" class="round-3" type="password"></div>
        </div> 
   		
    	<input id="bt-change" class="btn btn-primary " type="submit" id="submit" value="Change password">
     
  </div>
</div>


<script>

$(function(){
	
	$("#bt-change").click(function(){
	
		var password     = $("#text-password").val()
		var newpassword  = $("#text-newpassword").val()
		var newpassword2 = $("#text-newpassword2").val()
		
	
		var arg = {
			token : token(),
			oldPassword      : password,
			newPassword      : newpassword,
			newPasswordCheck : newpassword2
		}
		
		post("../../user-manager/update/password",arg,
			function(){
				new Modal({
	  				 title:"Success",
	  				 message : "Password changed",
	  				 onOk : function(){redirect("./")}
	  			 })
			},
			function(err){ 
				
				new Modal({
	  				 title:"Error",
	  				 message : err ,
	  				 onOk : function(){}
	  			 })
			
			 })
		})
	
})
	


</script>