
#parse("header.html")


<div class="container" style="margin-top:5em">

  <div class="hero-unit">
  
  
     <div>
     	<h3>&#192; propos de la CNIL</h2>
     	<p>
  		Conform&#233;ment aux articles 39 et 40 de la loi
		Informatique et Libert&#233;s, vous disposez d&#145;un droit d&#145;acc&#232;s et de rectification des donn&#233;es vous concernant.
		En pratique, en justifiant de votre identit&#233;, vous pouvez nous demander si nous traitons ou non vos donn&#233;es,
		et si oui, quels types de donn&#233;es, dans quel but et de quelle mani&#232;re. En outre, la loi vous reconnait un droit 
		de rectification, de mise &#225; jour et de suppression de ces donn&#233;es. 
		</p>
		<p>
		L&#145;INRIA a d&#233;sign&#233; un Correspondant Informatique et Libert&#233;s (CIL) aupr&#232;s de la CNIL, conform&#233;ment &#225;
		l&#145;article 22 III de la loi du 6 janvier 1978. Ce CIL tient un registre des traitements effectu&#233;s en interne et
		normalement soumis &#225; d&#233;claration. Il est en outre charg&#233; d&#145;assurer le droit d&#145;acc&#232;s et de rectification.

		Pour toute demande en ce sens, veuillez vous adresser &#225; cil at inria.fr
		</p>
	</div>
	<div>
		<h3>About the CNIL (National Committee for Data Protection)</h3>
		<p>
		In accordance with French law "loi Informatique et Libert&#233;s", articles 39 and 40, you have the right to access
		and rectify data about you. In practice, proving your identity, you can ask us whether or not we process data
		about you and in case the answer is yes, which data, for which purpose and how. Besides, French law
		acknowledges your right to rectify, update and suppress these data.
		</p>
		<p>
		INRIA has a "Correspondant Informatique et Libert&#233;s" (CIL) to the "CNIL" in accordance with article 22 III of the
		French law "loi du 6 janvier 1978". The CIL maintains a registry of all data processings inside INRIA subject to 
		declaration under this law. He also secures your right to access and rectify these data.

		For any such request, please contact cil at inria.fr
		</p>
	</div>
  </div>
</div>

#parse("footer.html")