#parse("header.html")

<div class="text-color-3 color-1 round-3 shadow-3" style="padding:1em; width: 65%; margin-left: auto;margin-right: auto" >

	<div class="container">
	
	<legend>Experiment services </legend>
	
	 #foreach($module in $manager.getModuleNames()) 
	  <div class="row">
		<div class="span2 mute" style="font-weight: bold">Service name :</div>
		<div class="span1" style="">
			<a href="../../../$manager.getExperimentName()$manager.getModuleURI($module)?_wadl">
				$manager.getModuleURI($module)
			</a>
		</div>
	  </div>
	 #end
  </div>
</div>
#parse("footer.html")





