#parse("header.html")

<script type="text/javascript" src="$ctx.resource/jslibs/infovis/Jit/jit.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/infovis/Jit/jit-yc.js"></script>
<script type="text/javascript" src="$ctx.resource/jslibs/fd.js"></script>
<script type="text/javascript" src="configuration.js"></script>
<script>
	var xpName = "$manager.experimentName";
</script>



    <ul id="tab-conf" class="nav nav-tabs" style=" background: #f5f5f5">
      <li><a id="id-description"   href="#tab-description"   data-toggle="tab">Description</a></li>
      <li><a id="id-configuration" href="#tab-configuration" data-toggle="tab">Configuration</a></li>
    </ul>


	<div class="tab-content">

	<div id="tab-description" class="tab-pane active form-signin container" style="width: 500px;">

		<legend>Experiment Description</legend>
        <div class="alert" style="display: none"></div>

        <div class="row">
           <div class="span2"><label>Name</label></div>
           <div class="span2"><input id="xpname" type="text" placeholder="Experiment Name" autofocus required /></div>
        </div>

        <div class="row">
           <div class="span2"><label>Nice Name</label></div>
           <div class="span2"><input id="niceName" type="text" placeholder="Nice name" autofocus required /></div>
        </div>

         <label>Description</label>
    	 <textarea style="width: 400px; height:100px" id="description" placeholder="Description" required></textarea>

    	 <label class="control-label">Copyright</label>
    	 <textarea style="width: 400px; height:100px" id="copyright" placeholder="copyright" required></textarea>
    	 <br/>
    	 <button id="save-description" class="btn btn-danger">Save</button>
    </div>

    <div id="tab-configuration" class="tab-pane" style="height:650px;margin: 0 5% 0 5%">
		<div class="container">
		<legend>Experiment Configuration</legend>
		<button id="save-configuration" class="btn btn-danger">Save</button>
		</div>
		<div style="width: 100%; height: 80%;" id="infovis"></div>
	</div>
    </div>

#parse("footer.html")
