#parse("header.html")



<script>
	var xpname   = "$manager.getExperimentName()";
	var res      = "$ctx.resource";
    $("body").addClass("nihilo")
</script>

<link rel="stylesheet" type="text/css" href="http://static.apisense.fr/g/js/apisense.js/editor-1.0/build/app.css" />
<link rel="stylesheet" type="text/css" href="http://static.apisense.fr/g/js/apisense.js/enyo-2.3/build/enyo.css" />

<script type="text/javascript" src="http://static.apisense.fr/g/js/ace/src-noconflict/ace.js"></script>
<script type="text/javascript" src="http://static.apisense.fr/g/js/apisense.js/enyo-2.3/build/enyo.js"></script>
<script type="text/javascript" src="http://static.apisense.fr/g/js/apisense.js/editor-1.0/build/app.js"></script>

<script type="text/javascript" src="enyoASLEditor.js" ></script>

<style type="text/css">

 	.menuProject{height: 25px;}
 	.menuProject:hover{cursor: pointer;}
 	.menuProject-active{ background-color: #333; color : white }
</style>


<div id="editor" style="width:100%;height:100%"><div>

<script>

	var editor,task = undefined;
	var taskNodeName = ".Server"
	var taskState = {}


	var editor = new apisense.web.ASLEditor({
		service : "../../../"+xpname,
        divId   :  "editor"
	});


	$(function(){

	})
</script>







## #parse("footer.html")