#parse("header.html")

<script>
	var xpName = "$manager.getExperimentName()";
    $("body").addClass("nihilo")
</script>

<style>



.apisense-console-up{ height:80% !IMPORTANT;}
.apisense-console-down{ height:30% !IMPORTANT;}

</style>

<link rel="stylesheet" type="text/css" href="http://static.apisense.fr/g/js/apisense.js/editor-1.0/build/app.css" />
<link rel="stylesheet" type="text/css" href="http://static.apisense.fr/g/js/apisense.js/enyo-2.3/build/enyo.css" />

<script type="text/javascript" src="http://static.apisense.fr/g/js/ace/src-noconflict/ace.js"></script>
<script type="text/javascript" src="http://static.apisense.fr/g/js/apisense.js/enyo-2.3/build/enyo.js"></script>
<script type="text/javascript" src="http://static.apisense.fr/g/js/apisense.js/editor-1.0/build/app.js"></script>

<script type="text/javascript" src="enyoQueryEditor.js"></script>

<div id="editor" style="width:100%;height:100%"><div>


<script>

	var editor = new apisense.web.QueryEditor({
		service : "../../../"+xpName,
        divId   :  "editor"
	});

</script>


## #parse("footer.html")