<aside class="visible-desktop">
    
     <ul class="sideMenu">
 	    #set( $request_name = $request.getParameter("name"))
	    #foreach($module in $webmanager.getModules()) 
	       #if($request_name.equals($module.getModuleName()))
	          <li class="active $module.getModuleName()">
	       #else
	          <li class="$module.getModuleName()">
	       #end
	          
	          #if ($request.pathInfo.equals("/"))
	          	#set($menu = "$module.getModuleURL()?name=$module.getModuleName()")
	          #else
	            #set($menu = "../$module.getModuleURL()?name=$module.getModuleName()")
	          #end
	          
	          <a href="$menu" >
	          		$module.getModuleName()
	          </a>
    	    </li>
	       #end
     </ul>

</aside>
<div id=content>	
