</div>
<div id="footer" style="margin-top:10em;">
	<div class="container border-up">
       <a href="../public/policies.html">Legal Notice</a>
       <p class="muted" style="float:right">2013 &#169; apisense. All rights reserved</p>
    </div>
</div>

</body>
</html>