#parse("header.html")


<script>
	var xpName = "$manager.getExperimentName()";
</script>


<link rel="stylesheet" type="text/css" href="http://static.apisense.fr/g/js/apisense.js/editor-1.0/build/app.css" />
<link rel="stylesheet" type="text/css" href="http://static.apisense.fr/g/js/apisense.js/enyo-2.3/build/enyo.css" />

<script type="text/javascript" src="http://static.apisense.fr/g/js/ace/src-noconflict/ace.js"></script>
<script type="text/javascript" src="http://static.apisense.fr/g/js/apisense.js/enyo-2.3/build/enyo.js"></script>
<script type="text/javascript" src="http://static.apisense.fr/g/js/apisense.js/editor-1.0/build/app.js"></script>

<script type="text/javascript" src="enyoModal.js" ></script>
<script type="text/javascript" src="enyoEditor.js" ></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>



<div id="editor" style="height: 200px;"><div>

<script>

	var editor = new apisense.web.Editor({
		service : "../../../"+xpName,
        divId   :  "editor"
	});

</script>

## #parse("footer.html")