body{
	background-image: url('../images/bck-pattern-5.png');
}

.block{
font-size: 18px;font-weight: 200;line-height: 30px;color: inherit;
background-color: #EEE;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

h4{color:#DDD;}

.border-up {border-style: solid;border-color: #888;border-width: 1px 0 0 0;}
.border-left {border-style: solid;border-color: #888;border-width: 0px 0 0 1px;}

.form-signin {
	color: #777;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
/* 	background-color: #fff; */
/* 	border: 1px solid #e5e5e5; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin label {margin-top: 5px;font-weight: bold;font-size: 14px;}
.form-signin .form-signin-heading,.form-signin .checkbox {margin-bottom: 10px;}
.form-signin input[type="text"],.form-signin input[type="password"] {font-size: 16px;height: auto;margin-bottom: 15px;padding: 7px 9px;}

.user-menu {
	position : absolute;top:-5px;right:0px;
	padding: 10px;
	width: 150px;
	text-align: center;


	background: -moz-linear-gradient(top, #FF9900, #FF6600);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9900),to(#FF6600) );

	border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform-origin: 50% 35px;
	-o-transform-origin: 50% 35px;
	-webkit-transform-origin: 50% 35px;
}
.user-menu a {text-decoration: none;color:#eee;}
.user-menu a:hover {color:#fff;}

.user-menu:hover {
    text-align: left;
	font-size-adjust: inherit;
	padding: 0 1em 1em 1em;
	/*     -moz-transition:all 0.5s; */
	/*     -o-transition:all 0.5s; */
	/*     -webkit-transition:all 0.5s;  */
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	background: -moz-linear-gradient(top, #FF9900, #FF6600);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9900),to(#FF6600) );

	font-size: 14px;
	font-weight: bold;
}

.user-menu dt {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.user-menu dd {margin: 4px;padding: 5px;cursor: pointer;color:#333;}
.user-menu dd:hover {color:white;}
.user-menu dd a {text-decoration: none; color:#333;}
@-webkit-keyframes bounceIn {
 from {-webkit-transform: rotate(0deg);}
  75%{-webkit-transform:rotate(-220deg);}
  90%{-webkit-transform:rotate(-170deg);}
 to {-webkit-transform: rotate(-180deg);}}

@-webkit-keyframes bounceOut {
from {-webkit-transform: rotate(-360deg);}
  0%{-webkit-transform:rotate(-180deg);}
 10%{-webkit-transform:rotate(-160deg);}
 to {-webkit-transform: rotate(-360deg);}}


 /* transparent */
.transparent {color: #111;border: none;background: none;}
.transparent:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.transparent:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top,  #ededed,  #fff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.transparent:disabled {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top,  #ededed,  #fff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
		cursor: default ! IMPORTANT;
}

.loading{
	background: url("../images/loading.gif") no-repeat;
	position:absolute; width : 500px;height: 500px;
	top: 10px;left:50%; z-index:10000;
	display:none;

}

.border1{border-bottom: solid;border-width: 2px;}

/***************************************************************/
/**** Round ****/
/***************************************************************/

.round1{-moz-border-radius: 5px 5px 0em 0em;border-radius: 5px 5px 0em 0em;}
.round2{-moz-border-radius: 0em 0em 10px 10px;border-radius: 0em 0em 10px 10px;}
.round3{-moz-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;}

/***************************************************************/
/**** Shadow ****/
/***************************************************************/
.shadow1{-moz-box-shadow: 0 0 5px 5px #888;-webkit-box-shadow: 0 0 5px 5px#888;box-shadow: 0 0 5px 5px #888;}
.shadow2{-moz-box-shadow: 10px 10px 5px #888;-webkit-box-shadow: 10px 10px 5px #888;box-shadow: 10px 10px 5px #888;}
.shadow3{-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}

/***************************************************************/
/**** Icone ****/
/***************************************************************/
.ic-file-js{ background-image : url("../images/file-js.png"); background-size: 100%; }
.ic-file-xq{ background-image : url("../images/file-xq.png"); background-size: 100%; }
.ic-file-py{ background-image : url("../images/file-py.png"); background-size: 100%; }
.ic-file-css{ background-image : url("../images/file-css.png"); background-size: 100%; }
.ic-file-html{ background-image : url("../images/file-html.png"); background-size: 100%; }