
.bsform{
	padding: 1em;
	font-size: 18px;
}
.bsform fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

.bsform h2{
	padding-bottom : 3px;
	font-weight: bold;
    font-size: 40px;
}

.bsform h3{
	
	border-bottom: 1px solid #CCC;
	letter-spacing: 2px;
	margin-bottom: 20px;
	color: #545454;
	
}

.bsform select {}

.bsform td{
	padding: 10px;
}

.bsform input {
	
    border: 1px solid #ccc;
    padding : 5px;
}

.bsform textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width : 90%;
  height : 100px;
}

