/***************************************************************/
/**** Base ****/
/***************************************************************/


html, body { width: 100%; height: 100%; margin: 0px; padding:0 0 0 0; }
#container{ margin-top:80px;width: 100%;height: 100%; }
 



#contentleft{
   
 border : none;
 
 padding : 0;

 background-image: linear-gradient(bottom, #111117 0%, #1A1C24 63%, #22242C 82%); 
 background-image: -o-linear-gradient(bottom, #111117 0%, #1A1C24 63%, #22242C 82%);
 background-image: -moz-linear-gradient(bottom, #111117 0%, #1A1C24 63%, #22242C 82%);
 background-image: -webkit-linear-gradient(bottom, #111117 0%, #1A1C24 63%, #22242C 82%);
 background-image: -ms-linear-gradient(bottom, #111117 0%, #1A1C24 63%, #22242C 82%);

 background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #111117),
        color-stop(0.63, #1A1C24),
        color-stop(0.82, #22242C)
 );
}

.dashbord{
  position : relative;
  color: #999;
  font-size:60px;
  text-align: left;
  background-color : white;
}

.copyright{
  color: #385C69 !important;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/***********************
 ***********************
 ******* Button 
 ***********************
 ***********************
 **/
.button {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em; 
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }
.medium { font-size: 12px; width: 100px; height:30px; }
.small { font-size: 11px; padding: .2em 1em .275em; }


.loading{ background: url("../images/loading-1.gif") no-repeat; }
                

/***************************************************************/
/**** Defintion Color ****/
/***************************************************************/

.text-color-1{ color: white;  }
.text-color-2{ color: black;  }
.text-color-3{ color:#324040; }

.color-1{ background-color: white; }
.color-2{ background-color: #EEEEEE; }
.color-3{
        background:-moz-linear-gradient(top,#48dfff,#04b3d2);
        background:-webkit-gradient(linear,left top,left bottom,from(#48dfff),to(#04b3d2));
}
.color-4{
        background:-moz-linear-gradient(top,#fff,#eee);
        background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee));
}
/***************************************************************/
/**** Round ****/
/***************************************************************/
.round-1{ -moz-border-radius: 5px 5px 0em 0em; border-radius: 5px 5px 0em 0em; }
.round-2{ -moz-border-radius: 0em 0em 10px 10px; border-radius: 0em 0em 10px 10px; }
.round-3{ -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}
.round-4{ -moz-border-radius: 0px 0px 0px 0px; border-radius: 0px 5px 5px 0px;}
/***************************************************************/
/**** Shadow ****/
/***************************************************************/
.shadow{ box-shadow:0px 0px 6px rgba(0,0,0,0.7);  -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.7); -moz-box-shadow:0px 0px 6px rgba(0,0,0,0.7); }
.shadow-1{-moz-box-shadow: 0 0 5px 5px #888;-webkit-box-shadow: 0 0 5px 5px#888;box-shadow: 0 0 5px 5px #888;}
.shadow-2{-moz-box-shadow: 10px 10px 5px #888;-webkit-box-shadow: 10px 10px 5px #888;box-shadow: 10px 10px 5px #888;}
.shadow-3{-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}

/***************************************************************/
/**** Border ****/
/***************************************************************/
.border-left{ border-style:solid; border-color: #888; border-width: 0 0 0 1px;}
.border-bottom{ border-style:solid; border-color: #888; border-width: 0 0 1px 0;}
.border-up{ border-style:solid; border-color: #888; border-width: 1px 0 0 0;}
/***************************************************************/
/**** Icone ****/
/***************************************************************/
.ic-file-js{ background-image : url("../images/file-js.png"); background-size: 100%; }
.ic-file-xq{ background-image : url("../images/file-xq.png"); background-size: 100%; }
.ic-file-py{ background-image : url("../images/file-py.png"); background-size: 100%; }

/* color styles 
---------------------------------------------- */

/* black */
.black {
        color: #d7d7d7;
        border: solid 1px #333;
        background: #333;
        background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #666,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
        background: #000;
        background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
        background: -moz-linear-gradient(top,  #444,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
        color: #666;
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
        background: -moz-linear-gradient(top,  #000,  #444);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* gray */
.gray {
        color: #e9e9e9;
        border: solid 1px #555;
        background: #6e6e6e;
        background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
        background: -moz-linear-gradient(top,  #888,  #575757);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
        background: #616161;
        background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
        background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
        color: #afafaf;
        background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
        background: -moz-linear-gradient(top,  #575757,  #888);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
        color: #606060;
        border: solid 1px #b7b7b7;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
        background: -moz-linear-gradient(top,  #fff,  #ededed);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top,  #ededed,  #fff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.orange {
        color: #fef4e9;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
        background: #f47c20;
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-linear-gradient(top,  #f88e11,  #f06015);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
        color: #fcd3a5;
        background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
        background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* transparent */
.transparent {color: #111;border: none;background: none;}
.transparent:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.transparent:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top,  #ededed,  #fff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}


/* red */
.red {
        color: #faddde;
        border: solid 1px #980c10;
        background: #d81b21;
        background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
        background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
        background: #b61318;
        background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
        background: -moz-linear-gradient(top,  #c9151b,  #a11115);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
        color: #de898c;
        background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
        background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
        color: #d9eef7;
        border: solid 1px #0076a3;
        background: #0095cd;
        background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
        background: -moz-linear-gradient(top,  #00adee,  #0078a5);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
        background: -moz-linear-gradient(top,  #0095cc,  #00678e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
        color: #80bed6;
        background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
        background: -moz-linear-gradient(top,  #0078a5,  #00adee);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.darkblue {
        color: #d9eef7;
        border: solid 1px #0076a3;
        background: #21242B;
        background: -webkit-gradient(linear, left top, left bottom, from(#374966), to(#21242B));
        background: -moz-linear-gradient(top,  #374966,  #21242B);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#374966', endColorstr='#21242B');
}
.darkblue:hover {
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#374966), to(#374966));
        background: -moz-linear-gradient(top,  #374966,  #374966);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#374966', endColorstr='#374966');
}
.darkblue:active {
        color: #80bed6;
        background: -webkit-gradient(linear, left top, left bottom, from(#21242B), to(#374966));
        background: -moz-linear-gradient(top,  #21242B,  #374966);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#21242B', endColorstr='#374966');
}
/* rosy */
.rosy {
        color: #fae7e9;
        border: solid 1px #b73948;
        background: #da5867;
        background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
        background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
        background: #ba4b58;
        background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
        background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
        color: #dca4ab;
        background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
        background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
.green {
        color: #e8f0de;
        border: solid 1px #538312;
        background: #64991e;
        background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
        background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
        color: #a9c08c;
        background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
        background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* pink */
.pink {
        color: #feeef5;
        border: solid 1px #d2729e;
        background: #f895c2;
        background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
        background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
        background: #d57ea5;
        background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
        background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active {
        color: #f3c3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
        background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}