#parse("header.html")

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

	<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

	<script src='http://maps.google.com/maps/api/js?key=AIzaSyCUsC74564r0fa5Juc-aeNRYQlX6JRysD4&sensor=false&amp;v=3.2'></script>
	<script src="http://metronet1.inrialpes.fr/js/leaflet/leaflet-fullscreen.js"> </script>
	<script src="http://metronet1.inrialpes.fr/js/leaflet/leaflet-google.js"></script>

	<link rel="stylesheet" href="http://metronet1.inrialpes.fr/js/leaflet/MarkerCluster.css" />
	<link rel="stylesheet" href="http://metronet1.inrialpes.fr/js/leaflet/MarkerCluster.Default.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->
	<script src="http://metronet1.inrialpes.fr/js/leaflet/leaflet.markercluster-src.js"></script>

	<script src="apisense-leaflet.js"></script>
	<script src="apisense-cluster.js"></script>
	<script src="apismap.js"></script>
	<script src="rgb-color.js"></script>
	<script src="apismap-rendered-color.js"></script>
	<script src="apismap-rendered-shape.js"></script>
	<script src="apismap-rendered-size.js"></script>

	<script>
		var xpName = "$manager.getExperimentName()";
    </script>

	<style>

		#leaflet{height: 1000px;}
		#leaflet-control-zoom-fullscreen { height: 100%;}
		.leaflet-control-zoom-fullscreen { background-image: url(icon-fullscreen.png); }
		/* on selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
		#leaflet:-webkit-full-screen { width: 100% !important; height: 100% !important; }
		#leaflet:-moz-full-screen { width: 100% !important; height: 100% !important; }
		#leaflet:full-screen { width: 100% !important; height: 100% !important; }

		.scluster{
			border-radius: 15px;
			height:100%;
			width:100%;
			text-align: center;
			font-size: large;

		}

		.scluster-pop{
			position : absolute;
			top : 5%;
			left : 50%;

			padding : 10px;
			width : 200px;

			font-size: 10px;
			text-align : left;
			background: white;
			-moz-box-shadow: 0 0 5px 5px #888;-webkit-box-shadow: 0 0 5px 5px#888;box-shadow: 0 0 5px 5px #888;
			-moz-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;
			color: black;
		}




	</style>


	<div class="row" style="background: #f5f5f5;">
		<div class="span2">
		   <ul class="nav nav-pills">
		   	 <li>
		   		<a style="cursor:pointer;" onClick="leaf.createMap()"><i class="icon-map-marker"></i> New Map </a>
		     </li>
		   </ul>
        </div>
        <div class="span10">
        	 <ul id="id-map-config" class="nav nav-pills" style="display: none">
        	 	<li> <a style="cursor:pointer;" onClick="leaf.configDatabase()" ><i class="icon-folder-open"></i> Filter Database</a> <li>
        	 	<li> <a style="cursor:pointer;" onClick="leaf.configFilterData()" ><i class="icon-filter"></i> Filter data</a> <li>
        	 	<li> <a style="cursor:pointer;" onClick="leaf.configAttributes()" ><i class="icon-calendar"></i> Select attribute</a> <li>
        	 	<li> <a style="cursor:pointer;" onClick="leaf.configRender()" ><i class="icon-eye-open"></i> Render</a> <li>
        	 	<li> <a style="cursor:pointer;" onClick="leaf.buildMap()"><i class="icon-play-circle"></i> Build Map</a> <li>
        	 	<li> <a style="cursor:pointer;" onClick="leaf.exportMap()"><i class=" icon-download-alt"></i> Export Map</a> <li>
        	 	<li> <a style="cursor:pointer;" onClick="leaf.deleteMap()"><i class="icon-trash"></i> Delete Map</a> <li>
        	 </ul>
        </div>
	</div>


	<!-- left menu -->
	<div  id="id-sub-menu" style=" display:none; height:1000px; float: right; background: #f5f5f5;">

		<!-- close button -->
		<div style="float: right;margin-right: 10px; cursor:pointer"
			 onClick="$('#id-sub-menu').hide()">
		  <i class="icon-remove"></i>
		</div>

		<!-- sub menu content -->
		<div id="id-sub-menu-content" style="margin-top:30px;" align="center" >

		</div>
	</div>

	<div id="leaflet" >

	</div>



#parse("footer.html")